{% load static %}
<div class="account-menu account-menu--header" data-account-menu>
  <button class="account-menu-trigger header-user{% if active_page == 'profile' %} is-current{% endif %}"
          type="button" aria-label="Abrir opções da conta" aria-expanded="false" aria-controls="{{ menu_id }}">
    {% include "includes/avatar.html" with usuario=request.user avatar_class="avatar-small" %}
    <span class="account-menu-name">{{ request.user.first_name|default:request.user.username }}</span>
    <img class="account-menu-chevron" src="{% static 'imgs/acento-circunflexo.png' %}" alt="" aria-hidden="true">
  </button>

  <nav class="account-menu-panel" id="{{ menu_id }}" aria-label="Opções da conta" hidden>
    <a class="account-menu-item" href="{% url 'profile:perfil' %}">
      <span class="material-symbols-outlined" aria-hidden="true">person</span>
      <span>Perfil</span>
    </a>
    <a class="account-menu-item" href="{% url 'configuracoes:inicio' %}">
      <span class="material-symbols-outlined" aria-hidden="true">settings</span>
      <span>Configurações</span>
    </a>
    {% if request.user.is_staff %}
      <a class="account-menu-item" href="{% url 'testar_email' %}">
        <span class="material-symbols-outlined" aria-hidden="true">mail</span>
        <span>Testar e-mail</span>
      </a>
      <a class="account-menu-item" href="{% url 'admin_apagar_usuarios' %}">
        <span class="material-symbols-outlined" aria-hidden="true">person_remove</span>
        <span>Apagar usuários</span>
      </a>
    {% endif %}
    <div class="account-menu-divider" aria-hidden="true"></div>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button class="account-menu-item account-menu-logout" type="submit">
        <img src="{% static 'imgs/saida.png' %}" alt="" aria-hidden="true">
        <span>Sair</span>
      </button>
    </form>
  </nav>
</div>
